.vertical-navbar {
    width: 300px; /* Ajusta el ancho según tus necesidades */
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    margin: 0;
  }
  
  .menu-header {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .menu-header--open {
    background-color: lightgray; /* Puedes ajustar el color según tus preferencias */
  }
  
  .arrow-icon::before {
    content: "▼";
    margin-left: 5px;
  }
  
  .menu-header--open .arrow-icon::before {
    content: "▲";
    margin-left: 5px;
  }
  
  .submenu {
    list-style-type: none;
    padding-left: 40px; /* Ajusta el espacio del submenú según tus necesidades */
  }
  