@font-face {
  font-family: 'Manrope';
  src: url(../../public/fonts/Manrope-VariableFont_wght.ttf);
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
.vertical-navbarTienda {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 60%;
  position: absolute;
  background-color: #94B318;
  width: 350px;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 50px;

  a{
    text-decoration: none;
    color: black;
    font-family: 'Manrope';
  }

  h2 {
    margin-bottom: 20px; /* Ajusta según sea necesario */
  }

  h3 {
    margin: 10px 0;
    font-family: 'Manrope';
  }

  .h3-MenuTienda{
    display: none;
  }
}}


@media screen and (max-width: 767px) {
  .vertical-navbarTienda {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #94B318;
    width: 100%;
    padding: 6px;
    margin-top: 50px;
  
    a{
      text-decoration: none;
      color: black;
      font-family: 'Manrope';
      margin-left: 3px;
      background-color: #b2cf3e;
    }
  
    h2 {
      margin-bottom: 20px; /* Ajusta según sea necesario */
    }
  
    h3 {
      font-size: 8px;
      font-family: 'Manrope';
    }
    .name-Tienda{
      display: none;
    }

    .h3-MenuTiendad{
      display: none;
    }
}}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .vertical-navbarTienda {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #b7d347;
    width: 100%;
    padding: 6px;
    margin-top: 80px;
    
  
  
    a{
      text-decoration: none;
      color: black;
      font-family: 'Manrope';
      padding-left: 18px;
    }
  
    h2 {
      margin-bottom: 20px; 
    }
  
    h3 {
      margin: 10px 0;
      font-size: 15px;
      font-family: 'Manrope';
    }
    .name-Tienda{
      display: none;
    }

    .h3-MenuTienda{
      display: none;
    }
}}