@font-face {
  font-family: 'Manrope';
  src: url(../../public/fonts/Manrope-VariableFont_wght.ttf);
}

.aceites-container {
  padding-top: 50px;

  h2{
    text-align: center;
    font-size: 50px;
  }
}

.aceites-row {
  display: grid;
      grid-template-columns: repeat(3, 0.2fr);
      justify-content: end;
  text-align: center;
  margin-top: 20px;
}

.aceites {
  cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}

.aceites:hover {
  background-color: #728F30;
}
.aceites img {
  width: 150px;
  height: auto;
  object-fit: contain;
  padding-top: 10px;
  border-radius: 5px;
}

.aceites p {
  margin-top: 5px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Manrope';
}


.last-row {
  justify-content: space-between;
  gap: 20px;
}



@media screen and (min-width: 1024px) {
.aceites-container {
    h2{
      text-align: right;
      font-size: 50px;
      padding-right: 135px;
    }
  }
  
  .aceites-row {
    display: grid;
        grid-template-columns: repeat(3, 0.2fr);

        justify-content: end;
    text-align: center;
  }
  
  
  .aceites img {
    width: 250px;
    height: auto;
    object-fit: contain;
    padding-top: 10px;
    border-radius: 5px;
  }

  .footer-aceites{
    position: relative;
    margin-top: 100px
  }

  .aceites p {
    font-size: 30px;
  }
  
}

@media screen and (max-width: 767px) {
  .aceites-container {
    padding-top: 100px;
    h2{
      text-align: center;
      font-size: 30px;
    }
  }
  .aceites-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 45px;
  }
  .aceites img {
    width: 150px;
    height: auto;
    object-fit: contain;
    padding-top: 10px;
    border-radius: 5px;
  }


}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .aceites-container {
    margin-top: 25px;
    padding-top: 130px;

    h2{
      text-align: center;
      font-size: 50px;
    }
  }
  
  .aceites-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
    margin-left: 45px;
  }
  
  
  .aceites img {
    width: 180px;
  }

  .aceites p {
    font-size: 30px;
  }

  .footer-aceites{
    margin-top: 150px;
  }
}