.header{
    position: fixed;
    min-height: 53px;
    max-height: 8vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ceje-header-margInf{
    height: 8vh;
}

.ceje-opcionesHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    

    &--a{
        margin-right: 10px;
        margin-left: 10px;
        color: rgb(168, 168, 168);
        display: flex;
        align-items: center;
        width: fit-content;
        text-align: center;

        &--faq{
            color: rgb(168, 168, 168);
        }
        &--ventajas{
            color: rgb(168, 168, 168);
        }
        &--ventajas:hover{
            color: rgb(255, 255, 255);
        }
        &--condiciones{
            color: rgb(168, 168, 168);
        }
        &--condiciones:hover{
            color: rgb(255, 255, 255);
        }

        &--aboutUs{
            color: rgb(168, 168, 168);
        
        }

    }
    &--a:hover{
        color: rgb(255, 255, 255);
    }
}

.logoFerrimas2{
    width: 200px;
}

.idiomas{
    color: white;
}

.ceje-hambu{
    padding-right: 0px;
    margin-right: 40px;
}

@media only screen and (max-width: 767px) {
    /* Estilos para pantallas más pequeñas (teléfonos) */
    .ceje-opcionesHeader{
        display: none;
    }
    .ceje-header-margInf{
        height: 8vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tablets en modo retrato */

    .ceje-header-margInf{
        height: 8vh;
    }
    .ceje-hambu{
        display: block;
    }
    .ceje-header__language-menu-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 40px;
        width: 80%;


        &__language-selector{
            display: flex;
            flex-direction: row;
        }
    }
    .ceje-opcionesHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        

        &--a{
            margin-right: 10px;
            margin-left: 10px;
            color: rgb(168, 168, 168);
            display: flex;
            align-items: center;
            width: fit-content;
            text-align: center;

            &--faq{
                display: none;
            }

            &--aboutUs{
                display: none;
            }

            &--condiciones{
                display: none;
            }

            &--ventajas{
                display: none;
            
            }
        }
        &--a:hover{
            color: rgb(255, 255, 255);
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para tablets en modo paisaje */
    .ceje-header-margInf{
        height: 8vh;
    }
    .ceje-hambu{
        display: block;
    }
    .ceje-header__language-menu-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 40px;
        width: 80%;
        align-items: center;

        &__language-selector{
            display: flex;
            flex-direction: row;
        }
    }
    .ceje-opcionesHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        

        &--a{
            margin-right: 10px;
            margin-left: 10px;
            color: rgb(168, 168, 168);
            display: flex;
            align-items: center;
            width: fit-content;
            text-align: center;

            &--faq{
                display: none;
            }

            &--aboutUs{
                display: none;
            }

            &--condiciones{
                display: none;
            }
        }
        &--a:hover{
            color: rgb(255, 255, 255);
        }
    }
}

@media only screen and (min-width: 1200px) {
    /* Estilos para pantallas medianas y grandes (escritorios) */
    .ceje-header-margInf{
        height: 8vh;
    }
    .ceje-hambu{
        display: none;
    }
    .ceje-header__language-menu-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-right: 40px;
        width: 80%;
        align-items: center;
        

        &__language-selector{
            display: flex;
            flex-direction: row;
        }
    }
    .ceje-opcionesHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        

        &--a{
            margin-right: 10px;
            margin-left: 10px;
            color: rgb(168, 168, 168);
            display: flex;
            align-items: center;
            width: fit-content;
            text-align: center;

            &--faq{
                display: none;
            }

            &--aboutUs{
                display: none;
            
            }
        }
        &--a:hover{
            color: rgb(255, 255, 255);
        }
    }
}

@media only screen and (orientation: portrait) {
    /* Estilos para orientación de pantalla retrato */
    .ceje-header-margInf{
        height: 8vh;
    }
}

@media only screen and (orientation: landscape) {
    /* Estilos para orientación de pantalla paisaje */
    .ceje-header-margInf{
        height: 8vh;
    }
}