.avisoLegal{
    padding-top: 2vh;
    padding-left: 20px;

    h1{
        padding-bottom: 5vh;
    }
    p{
        padding-bottom: 20px;
    }

}
.politicaPrivacidad-footer{
    margin-top: 50px;
}