@font-face {
    font-family: 'Manrope';
    src: url(../../public/fonts/Manrope-VariableFont_wght.ttf);
}

.maquinaria-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    
  }
  
//   .botonesmaq-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex-wrap: wrap;
//   }
  
  .buttonMaqui {
    background-color: #ffffff;
    color: #94B318;
    padding: 15px; /* Ajusta según tu preferencia */
    width: 200px; /* Ajusta según tu preferencia */
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonMaqui:hover {
    background-color: #728F30;
  }
  

  @media screen and (max-width: 767px) {
    .ceje-imgMaquinaria{
        display: none;
    }
    .maquinaria-container {
        display: none;
        
        h2{
            font-family: 'Manrope';
            font-size: 50px;
        }
      }
      
      .botonesmaq-container {
        display: none;
      }
      
      .buttonMaqui {
        display: none;
      }
      
      .buttonMaqui:hover {
        display: none;;
      }

      .maquinaria-footer{
        margin-top: 2vh;
      }
      
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .ceje-imgMaquinaria{
        text-align: center;
        width: 180px;
        height: 180px; /* Ajusta la altura deseada */
    object-fit: cover;
    }
    .maquinaria-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: center;
        margin-top: 30px;
        
        h2{
            font-family: 'Manrope';
            font-size: 50px;
        }
      }
      
      .botonesmaq-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Tres columnas */

        justify-content: center;
      }
      
      .buttonMaqui {
        background-color: #ffffff;
        color: #94B318;
        padding: 15px; 
        width: 250px; 
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Manrope';
        display: flex;
    flex-direction: column;
    align-items: center;
      }
      
      .buttonMaqui:hover {
        background-color: #728F30;
      }

      .maquinaria-footer{
        margin-top: 120px;
      }
}

@media screen and (min-width: 1024px) {
    .ceje-imgMaquinaria{
        text-align: center;
        width: 180px;
        height: 180px; /* Ajusta la altura deseada */
    object-fit: cover;
    }
    .maquinaria-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: center;
        gap: 20px;
        
        h2{
            font-family: 'Manrope';
            font-size: 50px;
        }
      }
      
      .botonesmaq-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas */
        justify-content: center;
        row-gap: 70px;
      }
      
      .buttonMaqui {
        background-color: #ffffff;
        color: #809b15;
        padding: 15px; /* Ajusta según tu preferencia */
        width: 300px; /* Ajusta según tu preferencia */
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Manrope';
      }
      
      .buttonMaqui:hover {
        background-color: #A2C31E;
      }
}