*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logoFerrimas2{
    width: 50%;
  }
  .idiomas{
    color: white;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

header{
  height: 8%;
  background-color: black;
}



body {
  margin: 0;
  padding: 0;
}


